<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>code</key>
        <dict>
            <key>code1</key>
            <string>F1CE520D4A8545C636E2A0D81C26FF80</string>
            <key>code2</key>
            <string>7D05F540E32C7900CEA2543DC3F57DE6</string>
            <key>code3</key>
            <string>54B7E41306018334A81F9FD34EA7A9A5</string>
            <key>code4</key>
            <string>5B075492FDCA52F8D2633C3BD6E72460</string>
        </dict>
        <key>agcgw</key>
        <dict>
            <key>backurl</key>
            <string>connect-drcn.hispace.hicloud.com</string>
            <key>url</key>
            <string>connect-drcn.dbankcloud.cn</string>
            <key>websocketbackurl</key>
            <string>connect-ws-drcn.hispace.dbankcloud.com</string>
            <key>websocketurl</key>
            <string>connect-ws-drcn.hispace.dbankcloud.cn</string>
        </dict>
        <key>agcgw_all</key>
        <dict>
            <key>CN</key>
            <string>connect-drcn.dbankcloud.cn</string>
            <key>CN_back</key>
            <string>connect-drcn.hispace.hicloud.com</string>
            <key>DE</key>
            <string>connect-dre.dbankcloud.cn</string>
            <key>DE_back</key>
            <string>connect-dre.hispace.hicloud.com</string>
            <key>RU</key>
            <string>connect-drru.hispace.dbankcloud.ru</string>
            <key>RU_back</key>
            <string>connect-drru.hispace.dbankcloud.cn</string>
            <key>SG</key>
            <string>connect-dra.dbankcloud.cn</string>
            <key>SG_back</key>
            <string>connect-dra.hispace.hicloud.com</string>
        </dict>
        <key>websocketgw_all</key>
        <dict>
            <key>CN</key>
            <string>connect-ws-drcn.hispace.dbankcloud.cn</string>
            <key>CN_back</key>
            <string>connect-ws-drcn.hispace.dbankcloud.com</string>
            <key>DE</key>
            <string>connect-ws-dre.hispace.dbankcloud.cn</string>
            <key>DE_back</key>
            <string>connect-ws-dre.hispace.dbankcloud.com</string>
            <key>RU</key>
            <string>connect-ws-drru.hispace.dbankcloud.ru</string>
            <key>RU_back</key>
            <string>connect-ws-drru.hispace.dbankcloud.cn</string>
            <key>SG</key>
            <string>connect-ws-dra.hispace.dbankcloud.cn</string>
            <key>SG_back</key>
            <string>connect-ws-dra.hispace.dbankcloud.com</string>
        </dict>
        <key>oauth_client</key>
        <dict>
            <key>client_id</key>
            <string>108635723</string>
            <key>client_type</key>
            <string>22</string>
        </dict>
        <key>configuration_version</key>
        <string>3.0</string>
        <key>app_info</key>
        <dict>
            <key>app_id</key>
            <string>172249065902571159</string>
            <key>package_name</key>
            <string>com.lianke.talk</string>
        </dict>
        <key>client</key>
        <dict>
            <key>cp_id</key>
            <string>260086000020256615</string>
            <key>product_id</key>
            <string>388421841221505132</string>
            <key>client_id</key>
            <string>1169490127039254016</string>
            <key>client_secret</key>
            <string>[!008C58CDEF70B7E75935E7540C648921B6B22904807E8901650703C7D0A596B9C0A2338C40A53DC5B4F1B316ABC517C36F4F4B19B1E54B7CAAA1FDF0885490B0348DEAE5880A62C7663CC37DB04DBA479A782E146E5AA6A94B96AB34635E36ED85]</string>
            <key>project_id</key>
            <string>388421841221505132</string>
            <key>app_id</key>
            <string>172249065902571159</string>
            <key>api_key</key>
            <string>DAEDAN8NOk/unHf/3sRGnpwHE4e+VYvHbX/gBvzou8IM5dyxlD1HltySPfMyCUhgugxrhSeiyFvGhXUMj0d9keK44f0SLQ7cFmCYXA==</string>
            <key>package_name</key>
            <string>com.lianke.talk</string>
        </dict>
        <key>service</key>
        <dict>
            <key>edukit</key>
            <dict>
                <key>dh_url</key>
                <string>edukit.edu.cloud.huawei.com.cn</string>
                <key>edu_url</key>
                <string>edukit.edu.cloud.huawei.com.cn</string>
            </dict>
            <key>analytics</key>
            <dict>
                <key>channel_id</key>
                <string/>
                <key>collector_url</key>
                <string>datacollector-drcn.dt.hicloud.com,datacollector-drcn.dt.dbankcloud.cn</string>
                <key>collector_url_cn</key>
                <string>datacollector-drcn.dt.hicloud.com,datacollector-drcn.dt.dbankcloud.cn</string>
                <key>collector_url_de</key>
                <string>datacollector-dre.dt.hicloud.com,datacollector-dre.dt.dbankcloud.cn</string>
                <key>collector_url_ru</key>
                <string>datacollector-drru.dt.dbankcloud.ru,datacollector-drru.dt.hicloud.com</string>
                <key>collector_url_sg</key>
                <string>datacollector-dra.dt.hicloud.com,datacollector-dra.dt.dbankcloud.cn</string>
                <key>resource_id</key>
                <string>p1</string>
            </dict>
            <key>search</key>
            <dict>
                <key>url</key>
                <string>https://search-drcn.cloud.huawei.com</string>
            </dict>
            <key>ml</key>
            <dict>
                <key>mlservice_url</key>
                <string>ml-api-drcn.ai.dbankcloud.com,ml-api-drcn.ai.dbankcloud.cn</string>
            </dict>
            <key>cloudstorage</key>
            <dict>
                <key>storage_url</key>
                <string>https://agc-storage-drcn.platform.dbankcloud.cn</string>
                <key>storage_url_cn</key>
                <string>https://agc-storage-drcn.platform.dbankcloud.cn</string>
                <key>storage_url_cn_back</key>
                <string>https://agc-storage-drcn.cloud.huawei.com.cn</string>
                <key>storage_url_de</key>
                <string>https://ops-dre.agcstorage.link</string>
                <key>storage_url_de_back</key>
                <string>https://agc-storage-dre.cloud.huawei.eu</string>
                <key>storage_url_ru</key>
                <string>https://agc-storage-drru.cloud.huawei.ru</string>
                <key>storage_url_ru_back</key>
                <string>https://agc-storage-drru.cloud.huawei.ru</string>
                <key>storage_url_sg</key>
                <string>https://ops-dra.agcstorage.link</string>
                <key>storage_url_sg_back</key>
                <string>https://agc-storage-dra.cloud.huawei.asia</string>
            </dict>
        </dict>
        <key>region</key>
        <string>CN</string>
        <key>appInfos</key>
        <array>
            <dict>
                <key>package_name</key>
                <string>com.lianke.talk</string>
                <key>client</key>
                <dict>
                    <key>client_secret</key>
                    <string>[!001C965E2429245F32F1822EF95B54CF4107FD2C1E073A3539C789BC7124FE18F2868A7C6D99DD1EE76D9B2EB30BCF23DB074E9174E018ACF997D00AEC11993C3604DBB357768AFF59D55547CFB449DF2E2AD5D3A8BD5958D322E24C4A51AF0755]</string>
                    <key>app_id</key>
                    <string>172249065902571159</string>
                </dict>
                <key>code</key>
                <dict>
                    <key>code1</key>
                    <string>CA93DEB79F93C07D13A81832FF7206680219572C03AF05AD3D5B30E24C7312A2</string>
                    <key>code2</key>
                    <string>4F6AC5EED24DF730E55A98A26871A46FF84DF20079C10A24AA6DF7FF9D9C9600</string>
                    <key>code3</key>
                    <string>0DEA22E94DD830BFF2D9A6C507F0FBD44AB89E43050F55307BF7239BF007F68D</string>
                    <key>code4</key>
                    <string>ED6A33FEC58F324699844B9B837FBA73</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
